{% extends "base.html" %}
{% block title %}Organization Login {% endblock %}

{% block content %}
    <div class="body-login">
        <h2>Sign in</h2>
        <form method="POST" id="organization_login_form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="label-input-login-form">
                {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {{ field.label.text}}:
                {{ field(placeholder=field.label.text, class="form-control") }}
            </div>
            {% endfor %}

            <button class="sign-in-btn">Sign in</button>
        </form>
        <p  class="forgot-sign-up-link"><a href="/organization/security/forgot-password" class="">Forgot Password</a>    |    <a href="/organization/signup" class="">Sign up</a></p>
    </div>
{% endblock %}