{% extends 'organization/queue.html'%}
{%block title%}VIR-QUE{% endblock %}

{% block content %}
<div class="side-main-content">
    <div class="side-nav">
        <span id="profile-title">Profile</span>
        <hr class="hr-profile">
        <span class="profile-links" id="profile-link">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path fill="#FAFAFA" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
            <a href="/organization/profile/overview" >Profile</a>
        </span>
        <span class="profile-links" id="security-link">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path fill="#fafafa" d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17v80c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24V448h40c13.3 0 24-10.7 24-24V384h40c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z"/></svg>
            <a href="/organization/profile/security" class="underline">Security</a>
        </span>
    </div>
    <div class="main-content" id="edit-email">
        <h2>Change Email</h2>
        <p><b>Previous Email Address:</b> {{organization.email}}</p>
            <form action="/organization/profile/security/reset-email" class="reset-email-password-form" method="POST">
                <label for="email-address">New email address:</label>
                <input type="email" name="email-address" id="email-address" required>
                <label for="email-address-confirm">Confirm new email address:</label>
                <input type="email" name="email-address-confirm" id="email-address-confirm" required>
                <p id="message"></p>
                <input type="submit" value="Save changes" id="save-changes-edit-password-email">
            </form>
            <button class="cancel-edit-btn"><a href="" class="">Cancel</a></button>
    </div>
{% endblock %}