{% extends 'organization/queue.html'%}
{%block title%}VIR-QUE{% endblock %}

{% block content %}
    <h2>Password Reset</h2>
        <form action="/organization/profile/security/reset-password" method="POST">
            <label for="old-password" >Old Password:</label>
            <input type="password" name="old-password" id="old-password">
            <label for="password">New Password:</label>
            <input type="password" name="password" id="password" required>
            <label for="password_confirm">Confirm New Password:</label>
            <input type="password" name="password_confirm" id="password_confirm" required>
            <p id="message"></p>
            <input type="submit" value="Save changes">
        </form>
        <button><a href="" class="">Cancel</a></button>
{% endblock %}