{% extends 'base.html' %}
{% block title %} VIRQUE {% endblock %}

{% block content %}
<div class="side-main-content">
    <div class="main-content">
        <h2>Password Reset</h2>
        <form method="POST" class="add-new-password">
            <label for="old-password" class="hidden">New Password:</label>
            <input type="password" name="old-password" id="old-password" class="hidden">
            <span>
                <label for="password">New Password:</label>
                <input type="password" name="password" id="password" required>
            </span>
            <span>
                <label for="password_confirm">Confirm New Password:</label>
                <input type="password" name="password_confirm" id="password_confirm" required>
            </span>
            <p id="message"></p>
            <input type="submit" value="Save changes" class="edit-btn">
        </form>
        <button class="edit-btn"><a href="/" class="">Cancel</a></button>
    </div>
</div>
{% endblock %}