{% extends 'base.html' %}
{% block title %} VIRQUE {% endblock %}

{% block content %}
    <h2>Password Reset</h2>
    <form action="" class="">
        <label for="password">New Password:</label>
        <input type="password" name="password" id="password" required>
        <label for="password_confirm">Confirm New Password:</label>
        <input type="password" name="password_confirm" id="password_confirm" required>
        <p id="message"></p>
        <input type="submit" value="Save changes">
    </form>
    <button><a href="" class="">Cancel</a></button>
{% endblock %}