{% extends "base.html" %}
{% block title %}Organization Signup {% endblock %}

{% block content %}
<div class="body-signup">
    <form method="POST" id="organization_signup_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
        <span class="label-input-signup">
            {{ field.label.text }}
            {{ field(placeholder=field.label.text, class="form-control") }}
        </span>
        {% endfor %}

        <button class="btn-signup">Sign up!</button>
    </form>
    <p class="already-login">Already have an account? <a href="/organization/login" class="">Login</a></p>
</div>
{% endblock %}