{% extends 'base.html' %}
{% block title %}Queues{% endblock %}

{% block content %}
  <body>
    <p>Click on a queue to join</p>
    <div class="organizations">
    {% for organization in organizations %}
        <button class="organization_name">{{organization.username}}</button>
    {% endfor %}
    </div>
    <form action="" class="hidden join_queue_form">
        <fieldset>
            <legend>Individual or Group:</legend>
            <div>
              <input type="radio" id="individual" name="size" value="Individual" checked />
              <label for="individual">Individual</label>
            </div>
            <div>
              <input type="radio" id="group" name="size" value="Group" />
              <label for="group">Group</label>
            </div>
        </fieldset>
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name" class="">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name" class="">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" class="">
        <label for="phone">Contact Number:</label>
        <input id="phone" type="tel" name="phone" />
        <label for="group_size">How many individuals are in your group:</label>
        <input type="number" name="group_size" id="group_size" class="">
        <button id="submit_join_queue_form">Join queue</button>
    </form>
    <div class="test_customer">
      <p class="cus_text"></p>
    </div>

  
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
{% endblock %}