.hidden {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body {
    background-color: #efeded;
    position: relative;
}

.opacity {
    background-color: rgba(0, 0, 0, 0.7);
}

.add_flex {
    display: flex;
}

/*base html styling*/
header {
    background-color: #242942;
    height: 4rem;
    width: 100%;
    display: flex;
    padding: 0 4rem;
    align-items: center;
}

.logo {
    font-weight: 800;
    font-size: 2rem;
    padding-right: 1.25rem;
    -webkit-text-fill-color: #F8F8F8;
}

.body-main {
    display: flex;
    overflow-x: hidden;
    color: #242942;
    padding: 5rem 0 3.5rem 0;
}

.body-main h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #242942;
}

.main-center-left {
    flex: 45;
    padding-top: 3rem;
    text-align: center;
}

.main-center-right {
    flex: 45;
}

.laptop-phone {
    width: 135%;
    max-width: 135%;
    height: auto;
    display: block;
}

.simplify {
    padding-left: 1rem;
}


.represent-org, .join-queue-home {
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    color: #FFFFFF;
}

.org-btn, .queue-join-btn {
    background-color: #BC4747;
    border: 1px solid transparent;
    padding: 0.4rem;
    margin-right: 1rem;
}

.btns {
    margin-top: 1.5rem;
}

.home-enter-code-form {
    display: flex;
    flex-direction: column;
    transform: translateX(-2.25rem);
}

#label-form-home {
    padding-top: 2rem;
}

#code {
    width: 16rem;
    height: 3rem;
    font-family: 'Barlow', sans-serif;
    text-align: center;
}

.input-submit {
    display: flex;
    gap: 1rem;
    padding-left: 11.5rem;
}

#home-submit {
    width: 3rem;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
    background-color:#BC4747;
    color: #FFFFFF;
    border: 1px solid transparent;
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

footer {
    background-color: #242942;
    width: 100%;
    color: #FFFFFF;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right:1rem;
    position: fixed;
    bottom: 0;

}

ul {
    list-style: none;
}

.alert-message-error {
    background-color: #FCE4E4;
    border: 1px solid #FCC2C3;
    padding: 1rem 1.5rem;
    color: #242942;
    position: absolute;
    top: 0;
}

.alert-message-success {
    background-color: #2424;
    border: 1px solid #2424;
    padding: 1rem 1.5rem;
    color: #FAFAFA;
    position: absolute;
    top: 0
}

/*organization login*/
.body-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 38vw;
    height: 80vh;
    border: 1px solid;
    margin: 4rem auto;
    background-color: #242942;
    color: #fafafa;
    border-radius: 10px;
    font-size: 1.2rem;
}

#organization_login_form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#organization_login_form input {
    width: 14rem;
    height: 2rem;
    margin-bottom: 2rem;
}

.sign-in-btn{
    width: 10rem;
    height:2.5rem;
    align-self: center;
    background-color: #ae4d4d;
    border: 1px solid transparent;
    padding: 0.5rem 0.35rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    color: #FAFAFA;
}

.sign-in-btn:hover {
    cursor: pointer;
}

.forgot-sign-up-link a{
    text-decoration: none;
    color: #FAFAFA;
    padding: 0 1rem;
}

.forgot-sign-up-link a:hover {
    text-decoration: underline;
}

.body-signup {
    display: flex;
    flex-direction: column;
    width: 80vw;
    border: 1px solid;
    margin: 4rem auto;
    background-color: #242942;
    color: #fafafa;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 2rem;
}

#organization_signup_form {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

#organization_signup_form input,
#organization_signup_form select {
    width: 15rem;
    height: 2.5rem;
}

.label-input-signup {
    display: flex;
    align-items: center;
    width: 28rem;
    justify-content: space-between;
}
.btn-signup {
    width: 6rem;
    height: 2.5rem;
}

.btn-signup:hover {
    border: 2px solid #BC4747;
    cursor: pointer;
}

.already-login {
    align-self: flex-end;
}

.already-login a {
    color: #FFFFFF;
}

/*#organization_signup_form input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}*/

/*organization queue styling*/
.organization_header {
    display: flex;
    justify-content: space-between;
}

.nav-bar ul{
    display: flex;
    gap: 1rem;
}

.nav-bar a {
    color: #FAFAFA;
    text-decoration: none;
}

.nav-bar a:hover {
    text-decoration: underline;
}

.queue-main-content {
    padding: 3rem 4rem;
}

.queue-wait-time {
    font-size: 1.25rem;
    display: flex;
    gap: 2rem;
    border: 1px solid #242942;
    padding: 2rem;
    border-radius: 1rem;
    justify-content: space-around;
    color: #fafafa;
    background-color: #242942 ;
}

.queue-wait-time button {
    border: 1px solid transparent;
    background-color: transparent;
}

.queue-wait-time a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #FAFAFA;
    background-color: #BC4747;
    padding: .5rem 1rem;
    border-radius: 10px;
}

.queue-to-be-seated {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0 0;
}

svg {
    color: #242942;
}

.customer_card {
    display: flex;
    gap: 1rem;
    color: #FAFAFA;
    background-color: #242940;
    border: 1px solid #242941;
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 1rem 0;
}

.seated_customer_card {
    display: flex;
    gap: .35rem;
    flex-direction: column;
    color: #FAFAFA;
    background-color: #BC4747;
    border: 1px solid #BC4747;
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 1rem 0;
}

.rest_info {
    display: flex;
    flex-direction: column;
    gap: .35rem;
}

.card-btns {
    margin: 1rem 3rem 0 0;
    display: flex;
    justify-content: space-evenly;
    gap: .5rem;
}

.card-btns button {
    border: 1px solid transparent;
    padding: 0.25rem;
}

.card-btns a {
    text-decoration: none;
    color: #242941;
}

.queues-grid {
    display: grid;
    grid-template-columns: minmax(max-content, 5rem) minmax(max-content, 5rem);
    gap: 1rem;
}

.queue h2 {
    font-size: 3rem;
    margin: 9rem 17rem;
    font-weight: 700;
    color: #242941;
}


.activate_queue {
    display: flex;
    align-items: center;
    font-size: 3rem;
    margin: 9rem 17rem;
    font-weight: 700;
    color: #242941;
}

.activate_queue input[type=radio] {
    border: 0px;
    width: 100%;
    height: 2rem;
}

/*view_queues*/
.organizations {
    display: grid;
    grid-template-columns: repeat(4, minmax(max-content, 6rem));
    gap: 3rem;
    margin: 4rem;
}

.organization_card {
    background-color: #242942;
    color: #FAFAFA;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
}

.organization_card:hover {
    cursor: pointer;
}

.organizations-flex {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.organizations p{
    font-size: 1.25rem;
}

.organizations .small {
    font-size: 1rem;
}

.organization-card-title {
    padding-bottom: .35rem;
}
.organization-card-spots,
.organization-card-wait {
    padding-top: .35rem;
}

.no-queues {

    margin-left: 8rem;
    font-size: 3.5rem;
    color:#242940;
}

#search_queues {
    margin: 1rem 0;
    position: absolute;
    right: 50%;
    text-align: center;
    width: 20rem;
    height: 2.5rem;
}

/*join_queue.html*/
.join-queue-forms-styles {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-elements-form {
    display: flex;
    flex-direction: column;
}

.individual_or_group,
.join-queue-form {
    border: 1px solid #242942;
    padding: 2rem;
    border-radius: 1rem;
    color: #FAFAFA;
    background-color: #242942;
    box-shadow: 0 3px 10px grey;
    width: max-content;
    margin: 4rem auto;
}

.individual_or_group h2 {
    font-size: 2rem;
    padding-bottom: .5rem;
}
.individual_or_group .individual {
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.individual_or_group .group {
    padding-bottom: .75rem;
    font-size: 1.5rem;
}

#get_individual_or_group {
    color: #FAFAFA;
    background-color: #BC4747;
    border: 1px solid transparent;
    padding: 0.15rem 0.25rem 0.25rem 0.25rem;
    font-size: 1.5rem;
}

#get_individual_or_group:hover {
    cursor: pointer;
}

.show_queue_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show_queue_form input {
    width: 14rem;
    height: 2rem;
    margin-bottom: 1rem;

}

.group-size {
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
}

.group-size input {
    width: 3rem;
}

#submit_join_queue_form {
    font-size: 1rem;
    color: #FAFAFA;
    background-color: #BC4747;
    border: 1px solid transparent;
    padding: 0.15rem 0.25rem 0.25rem 0.25rem;
    margin-top: 1rem;
}

#submit_join_queue_form:hover {
    cursor: pointer;
}

/*in queue html*/
.waitlist-card {
    width:30rem;
    background-color: rgba(36,41,66);
    color: #FAFAFA;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    border-radius: 10px;
    position: relative;
}

.waitlist-card img {
    width: 20rem;
}

.waitlist-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.waitlist-span {
    display: flex;
    justify-content: space-between;
    align-self: normal;
    background: #fafafa;
    color: #242942;
    padding: 0.35rem;
    align-items: center;
    gap: 2rem;
    border-radius: 5px;
}

.waitlist-span .close {
    font-size: 1.35rem;
}

.waitlist-span .close:hover {
    cursor: pointer;
}

.add_flex {
    display: flex;
}

.travel-time-response {
    color: #242942;
    background-color: #FAFAFA;
    
    gap: 7rem;
    align-items: center;
    padding: 0.35rem
}

.agree_btn {
    text-decoration: none;
    color: #FAFAFA;
    background-color: #242940;
    border: 1px solid transparent;
    width: 3rem;
    padding: .5rem;
    border-radius: 5px;
}

.agree_btn a {
    color: #FAFAFA;
    text-decoration: none;
}

.notification {
    position: absolute;
    background: #efeded;
    color: #242940;
    z-index: 5;
    top: 20%;
    flex-direction: column;
    padding: 2rem;
    gap: 0.5rem;
    transform: translateY(30px);
    box-shadow: 0 0 5px grey;
    border-radius: 10px;
}

.check-in {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: rgba(36, 41, 66);
    background: #FAFAFA;
    padding: 0.5rem;
    border-radius: 5px;
}

.close-in-queue:hover, 
.reload:hover {
    cursor: pointer;
}

/*unauthorised page*/
.main-unauthorised {
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
    gap: 1rem;
    background-color: #efeded;
    color: #242940;
}

.main-unauthorised h1 {
    font-size: 4rem;
}

.main-unauthorised a {
    color: #242940;
    text-decoration: none;
}

.main-unauthorised p{
    font-size: 1.5rem;
}

.main-unauthorised svg {
    width: 5rem;
    height: 5rem;
}

/*organization profile*/
#profile-title {
    font-weight: 700;
    padding: 0 0 0 1rem;
}

.hr-profile {
    width: 100%;
    overflow: hidden;
}

.side-main-content {
    margin: 4rem 4rem 2rem 4rem;
    display: flex;
    border: 1px solid #242940;
    border-radius: 1rem;
    background-color: #242940;
    color: #FAFAFA;
}

.side-nav {
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 10rem;
    padding: 1rem 0 0 0;
    gap: 1rem;
}

.side-nav a {
    text-decoration: none;
    color: #FAFAFA;
}

.side-nav svg {
    margin-right: 0.5rem;
}

.profile-links {
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 80%;
    gap: 1rem;
    border-left: 1px solid grey;
}

.info-section h5 {
    padding-bottom: .25rem;
}

.main-content .info-section {
    border-bottom: 1px solid #FAFAFA;
    padding-bottom: .5rem;
}

.profile_title_edit {
    display: flex;
    justify-content: space-between;
}

.profile-edit-btn, .edit-btn {
    width: 4.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.profile-edit-btn a {
    font-size: 1.15rem;
    text-decoration: none;
    color: #242940;
}

.underline {
    border-bottom: 1px solid #FAFAFA;
    padding-bottom: .3rem;
}

/*profile edit form*/
#edit-profile-form input {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.cancel-edit-btn, .save-changes-btn, .edit-btn {
    width: 6rem;
    align-self: flex-end;
    height: 2rem;
    background-color: #FAFAFA;
    border: 1px solid transparent;

}

.cancel-edit-btn:hover,
.save-changes-btn:hover,
.edit-btn:hover {
    border: 2px solid #BC4747;
    cursor: pointer;
}

.cancel-edit-btn a, .edit-btn a {
    text-decoration: none;
    color: #242940;
}

.change_email, .change_password {
    display: flex;
    justify-content: space-between;
}

.edit-text {
    text-decoration: none;
}

/*waittime edit form*/
.wait-time-edit {
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
}

#low-range, #high-range {
    height: 2.5rem;
    width: 4rem;
}

.save-edit-wait-time {
    margin-left: 2rem;
    height: 2rem;
}

.save-edit-wait-time:hover {
    border: 3px solid #BC4747;
}
/*reset email page*/
.reset-email-password-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.reset-email-password-form input {
    height: 2rem;
    width: 25rem;
}

.cancel-edit-email-btn {
    height: 2rem;
    width: 4rem;
    align-self: flex-end;
}

#save-changes-edit-password-email {
    width: 7rem;
}

#save-changes-edit-password-email:hover {
    cursor: pointer;
}

/*check in page*/ 
.check-in-btns button{
    margin-top: 1rem;
    width: 8rem;
    height: 2.5rem;
}

.check-in-btns button:hover {
    border: 2.5px solid #BC4747;
}

.check-in-btns a {
    text-decoration: none;
    color: #242940;
}

/*reset password get email*/
.add-email {
    margin-top: 1rem;
}

.get-email #email {
    width: 13rem;
    height: 2.5rem;
}

/*reset password change pw*/
.add-new-password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem
}

.add-new-password input {
    width: 15rem;
    height: 2.5rem;
}

/*general waitlist*/
.all_customers {
    width: fit-content;
    padding: 2rem;
}

.all_customers hr {
    width: 100%;
}